<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a class="header-color" href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="https://hover-library.netlify.app/style.css" download>Download</a></li>
                <li><a href="https://github.com/jinath123-yasmin/Hover-Components-CSS-Library">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="/components/avatar.html">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/badge.html">Badge</a></li>
             
                <li><a href="/components/alert.html">Alert</a></li>
                
                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1>Avatars</h1>
                <p>Avatars are user profile pictures, usually found in circular shapes.</p>
                <div class="divider"></div>
                <div class="show">
                    <h3 class="pad">Profile Avatar</h3>
                    <div class="image_avatar">
                    
                        <img class="avatar" src="/images/avatar2.jpg " alt="">
                        <img class="avatar" src="/images/avatar2.jpg " alt="">
                        <img class="avatar" src="/images/avatar2.jpg " alt="">
                    </div>
                     <div class="carbon-img1" ><iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=74px&ph=72px&ln=false&fl=1&fm=dm&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E"
                        style="width: 754px; height: 252px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe></div>
                  
                <h3  class="pad">Square Avatar</h3>
                <div class="image_avatar">
                    <img class="avatar_square " src="/images/avatar2.jpg " alt="">
                    <img class="avatar_square " src="/images/avatar2.jpg " alt="">
                    <img class="avatar_square " src="/images/avatar2.jpg " alt="">
                </div>
                <div class="carbon-img1"> <iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_square%2520%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_square%2520%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_square%2520%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E"
                    style="width: 758px; height: 216px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe></div>
                

                <h3  class="pad">Letter Avatar</h3>
                <div class="image_avatar">
                    <div class="avatar_letter av_blue ">A</div>
                    <div class="avatar_letter av_pink">B</div>
                    <div class="avatar_letter av_green">C</div>
                </div>
                <div class="carbon-img1"><iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=74px&ph=72px&ln=false&fl=1&fm=dm&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522avatar_letter%2520av_blue%2520%2522%253EA%253C%252Fdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522avatar_letter%2520av_pink%2522%253EB%253C%252Fdiv%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522avatar_letter%2520av_green%2522%253EC%253C%252Fdiv%253E"
                    style="width: 737px; height: 252px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe></div>

                <h3  class="pad">Size Avatar</h3>
                <div class="image_avatar">
                    <img class="avatar_size " src="/images/avatar2.jpg " alt="">
                    <img class="avatar_size size_inc" src="/images/avatar2.jpg " alt="">
                    <img class="avatar_size size_inc1" src="/images/avatar2.jpg " alt="">
                </div>
                <div class="carbon-img1"><iframe
                    src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_size%2520%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_size%2520size_inc%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%253Cimg%2520class%253D%2522avatar_size%2520size_inc1%2522%2520src%253D%2522%252Fimages%252Favatar2.jpg%2520%2522%2520alt%253D%2522%2522%253E"
                    style="width: 806px; height: 216px; border:0; transform: scale(1); overflow:hidden;"
                    sandbox="allow-scripts allow-same-origin">
                  </iframe></div>
            </div>
    </div>
    </article>
    </div>

</body>

</html>