<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>input </title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a class="header-color" href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="https://hover-library.netlify.app/style.css" download>Download</a></li>

                <li><a href="https://github.com/jinath123-yasmin/Hover-Components-CSS-Library">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="/components/avatar.html">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/badge.html">Badge</a></li>
             
                <li><a href="/components/alert.html">Alert</a></li>

                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1>Inputs</h1>
                <p>Inputs are necessary for user interaction with the website. Inputs are used to take information from
                    the
                    user, and then save the data to the server, accordingly.</p>
                <div class="divider"></div>
                <div class="show ">
                    <h1 class=" mer">Label Inputs</h1>
                    <div class="input-main">

                        <div class="input-section ">
                            <label>User Name*</label>
                            <input type="text" class="input_text"></input>
                        </div>
                        <div class="input-section err">
                            <label>Password*</label>
                            <input type="text" class="input_text"></input>
                            <div class="input_err">Wrong Password. Try Again.</div>
                        </div>

                    </div>
                    <div class="carbon-img1"><iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=74px&ph=72px&ln=false&fl=1&fm=dm&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522input-section%2520%2522%253E%253Clabel%253EUser%2520Name*%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input_text%2522%253E%253C%252Finput%253E%253C%252Fdiv%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522input-section%2520err%2522%253E%253Clabel%253EPassword*%253C%252Flabel%253E%250A%2520%2520%2520%2520%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input_text%2522%253E%253C%252Finput%253E%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522input_err%2522%253EWrong%2520Password.%2520Try%2520Again.%253C%252Fdiv%253E%253C%252Fdiv%253E"
                        style="width: 792px; height: 312px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe></div>
                
                </div>

                <div class="show ">
                    <h1 class="mer">Text Area</h1>
                    <div class="input-main">
                        <input type="text" class="input_text area" placeholder="please enter a description"></input>
                    </div>
                    <div class="carbon-img1"><iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=74px&ph=72px&ln=false&fl=1&fm=dm&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%250A%2520%2520%253Cdiv%2520class%253D%2522input-main%2522%253E%250A%2520%2520%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input_text%2520area%2522%2520placeholder%253D%2522please%2520enter%2520a%2520description%2522%253E%2520%253C%252Finput%253E%2520%253C%252Fdiv%253E"
                        style="width: 845px; height: 272px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe></div>
                
                </div>

            </div>
        </article>
    </div>
</body>

</html>