<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>toast </title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="logo">
            <ul class="logo-ul">
                <li><a class="header-color" href="/index.html">HOVER</a></li>
                <li><span>v1.0</span></li>
            </ul>
        </nav>
        <nav class="menu">

            <ul class="menu-ul ul-main">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/badge.html">Docs</a></li>
                <li><a href="https://hover-library.netlify.app/style.css" download>Download</a></li>

                <li><a href="https://github.com/jinath123-yasmin/Hover-Components-CSS-Library">Github</a></li>
            </ul>


        </nav>
    </header>
    <div class="main">
        <aside>
            <ul>

                <li><a class="ul-main" href="/get_started/introduction.html">Get Started</a></li>
                <div class="divider"></div>
                <li><a href="/get_started/introduction.html">Introduction</a></li>
                <li><a href="/get_started/typography.html">Typography</a></li>
                <li><a class="ul-main" href="/components/avatar.html">Components</a></li>
                <div class="divider"></div>
                <li><a href="/components/avatar.html">Avatar</a></li>
                <li><a href="/components/badge.html">Badge</a></li>

                <li><a href="/components/alert.html">Alert</a></li>

                <li><a href="/components/button.html">Button</a></li>
                <li><a href="/components/card.html">Card</a></li>
                <li><a href="/components/Image.html">Image</a></li>
                <li><a href="/components/Input.html">Input</a></li>
                <li><a href="/components/List.html">List</a></li>
                <li><a href="/components/Toast.html">Toast</a></li>

            </ul>
        </aside>
        <article>
            <div class="section">
                <h1>Toasts</h1>
                <p>Toasts are lightweight notifications designed to mimic the push notifications that have been
                    popularized by mobile and desktop operating systems.
                    They’re built with flexbox, so they’re easy to align and position..</p>
                <div class="divider"></div>
                <div class="show ">
                    <h1 class="mer"> Basic </h1>
                    <div class="Toast-main pad">
                        <div class="Toast-section">
                            Hello, world! This is a toast message.

                        </div>

                    </div>
                    <div class="carbon-img1"><iframe
                        src="https://carbon.now.sh/embed?bg=rgba%2831%2C129%2C109%2C1%29&t=night-owl&wt=none&l=auto&ds=false&dsyoff=20px&dsblur=68px&wc=false&wa=false&pv=74px&ph=72px&ln=false&fl=1&fm=dm&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522Toast-section%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520Hello%252C%2520world%21%2520This%2520is%2520a%2520toast%2520message.%250A%2520%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                        style="width: 845px; height: 252px; border:0; transform: scale(1); overflow:hidden;"
                        sandbox="allow-scripts allow-same-origin">
                      </iframe></div>
                

        </article>
    </div>
</body>

</html>